<div class="mt-4 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/dashboard" type="button" class="btn btn-light">
            <i class="fas text-primary fa-briefcase"></i>
            Work
        </a>
        <a href="/mentor" type="button" class="btn btn-light">
            <i class="fas text-success fa-chalkboard-teacher"></i>
            Mentors
        </a>
        <a href="/apps" type="button" class="btn btn-light">
            <i class="fas text-danger fa-shapes"></i>
            Apps
        </a>
        <a href="/viewmessage" type="button" class="btn btn-light">
            <i class="fas text-info fa-envelope"></i>
            Message <span class="badge badge-danger">4</span>
        </a>
    </div>
</div>