<div class="col-3">
        <div class="text-center card card-body">
            <div class="card-body">
                <% user.forEach(function(user) { %>
                <img class="img-fluid" src="https://img.icons8.com/color/120/000000/user-male-circle.png">
                <h5 class="card-title"><%= user.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
                <button id="userSkills-btn" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i>
                    View Profile
                </button>
                <% }); %>
            </div>
        </div>
    </div>